/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFD9B4;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 0;
    background-color: #445D48;
    position: fixed;
    height: 100%;
}

.sidebar img {
    display: block;
    margin: 0 auto;
    width: 120px;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar h2 {
    font-weight: 200;
    font-size: 18px;
    color: #FFD9B4;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: -20px; /* Menaikkan posisi teks Bolívar Coffee */
    margin-bottom: 30px; /* Menambah jarak antara Bolívar Coffee dan menu pertama */
}

/* Menu list styling */
.sidebar .menu,
.logout {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: large;
    font-weight: 500;
    color: #FFD9B4;
    font-family: 'Roboto', sans-serif;
}

.sidebar .menu li {
    display: flex;
    align-items: center;
    padding: 15px 15px; /* Sesuaikan padding vertikal agar lebih besar */
    margin: 5px 5px; /* Jarak antara item menu */
    cursor: pointer;
    border-radius: 5px; /* Rounding corners untuk hover area */
    text-align: left;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Active and hover effect */
.sidebar .menu li.active,
.sidebar .menu li:hover {
    background-color: #CBE2B5;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Custom CSS for keeping hover color when active */
.sidebar .menu li a {
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding-left: 10px;
    /* Mengatur jarak dari ikon ke teks */
}

.sidebar .menu li.active a {
    background-color: #CBE2B5;
    color: #ffffff;
    border-radius: 5px;
}

.logout li {
    width: fit-content;
    padding: 15px 20px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout li:hover {
    background-color: #CBE2B5;
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
    font-size: 24px;
    color: #FFD9B4;
    margin-right: 10px;
}

.sidebar .menu li.active .material-symbols-outlined,
.sidebar .menu li:hover .material-symbols-outlined {
    color: #ffffff;
}

.main-content {
    flex: 1; /* Memungkinkan main-content untuk mengisi sisa ruang */
    margin-left: 250px; /* Pastikan ada jarak dari sidebar */
    padding: 20px;
    background-color: #FFD9B4; /* Mengubah latar belakang menjadi putih */
    /* border-radius: 10px;  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek yang lebih baik */
    overflow: auto; /* Tambahkan scroll jika konten melebihi tinggi layar */
 } 
|
/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    color: #000000CC;
    font-family: 'Coustard', serif;
}

/* Status dot */
.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #10D347;
    border-radius: 50%;
    margin-left: 5px;
}

/* Payment button */
.payment-btn {
    background-color: #4b2e2e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}